  <section class="home-section mt-5">
    <div class="container mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">User Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Blocked User</th>
            <th scope="col">Unblocked User</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>#43567865435678765</td>
            <td>Anurag</td>
            <td>anu123@gmail.com</td>
            <td><a class="btn btn-danger" href="">Block</a></td>
            <td><a class="btn btn-primary" href="">Unblock</a></td>
          </tr>
        </tbody>
      </table>
     </div>
  </section>
  
 

