
<link rel="stylesheet" href="../admin/css/adminHome.css">

<div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus"></i>
      <span class="logo_name">Foody</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="/admin/adminHome" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/adminUserPage">
            <i class='bx bx-box' ></i>
            <span class="links_name">Users</span>
          </a>
        </li>
        <li>
          <a href="/admin/adminCategoryPage">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Category</span>
          </a>
        </li>
        <li>
            <a href="/admin/adminBrandPage">
              <i class='bx bx-list-ul' ></i>
              <span class="links_name">Brand</span>
            </a>
          </li>
        <li>
          <a href="/admin/adminProductPage">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Products</span>
          </a>
        </li>
        <li>
          <a href="/admin/adminOrderPage">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Orders</span>
          </a>
        </li>
        <li>
          <a href="#">  
            <i class='bx bx-cog' ></i>
            <span class="links_name">Settings</span>
          </a>
        </li>
        <li class="log_out">
          <a href="/admin/adminLogout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>

<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard"><%= title %></span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rahul K
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Account</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
          </ul>
      </div>
    </nav>

            </div>
    </div>
  </section>
  <script>
    let sidebar = document.querySelector(".sidebar");
 let sidebarBtn = document.querySelector(".sidebarBtn");
 sidebarBtn.onclick = function() {
   sidebar.classList.toggle("active");
   if(sidebar.classList.contains("active")){
   sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
 }else
   sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
 }
  </script>
 
